/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(196, 73%, 71%);
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --header-color: hsl(207, 4%, 15%);
  --footer-color: hsl(207, 4%, 8%);
  --text-color-light: hsl(196, 73%, 51%);

  --theme_color: hsl(197, 90%, 73%);
  --mood-color: hsl(120, 76%, 43%);
  --genre-color: hsl(207, 63%, 51%);
  --character-color: hsl(30, 84%, 59%);
  --goal-color: hsl(60, 100%, 50%);
  --setting-color: hsl(0, 70%, 57%);
  --joker-color: hsl(330, 81%, 67%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(135deg,
                      hsla(297, 71%, 58%, 0.5),
                      hsla(196, 73%, 71%, 0.8));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-overlay: 10;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

p span {
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
}

body {
  background-color: var(--body-color);
}

/*========== HEADER ==========*/
header {
  background-color: var(--header-color);
  padding: 8px;
  height: 48px;
}

.header__text {
  margin-left: 1rem;
}

/*========== MAIN ==========*/
main {
  height: calc(100vh - 72px);
}

.settings__container {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 14vw;
  height: 64px;
}

.grid__container {
  display: flex;
  flex-direction: row;
}

.container__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: left;
  padding-left: 16px;
  
}

.fa-dice {
  margin-left: 16px;
  font-size: var(--h2-font-size);
}

.hidden {
  visibility: hidden;
}

.selected__theme,
.selected__mood,
.selected__genre,
.selected__character,
.selected__goal,
.selected__setting,
.selected__joker {
  background-color: var(--header-color);
  height: 48px;
}

.selected__theme p,
.selected__mood p,
.selected__genre p,
.selected__character p,
.selected__goal p,
.selected__setting p,
.selected__joker p {
  padding: 6px 0;
  font-weight: bold;
  text-align: center;
  font-size: var(--h2-font-size);
}

.selected__theme p {
  color: var(--theme_color);
}

.selected__mood p {
  color: var(--mood-color);
}

.selected__genre p {
  color: var(--genre-color);
}

.selected__character p {
  color: var(--character-color);
}

.selected__goal p {
  color: var(--goal-color);
}

.selected__setting p {
  color: var(--setting-color);
}

.selected__joker p {
  color: var(--joker-color);
}

.dropdown {
  min-width: 270px;
  width: fit-content;
  height: 0;
  transition-duration: .5s;
}

.selected:hover .dropdown {
  height: 480px;
}

.theme__dropdown,
.mood__dropdown,
.genre__dropdown,
.character__dropdown,
.goal__dropdown,
.setting__dropdown,
.joker__dropdown {
  position: relative;
  top: 3px;
  z-index: var(--z-overlay);
  overflow-y: scroll;
}

.dropdown__option {
  display: block;
  font-size: var(--h2-font-size);
  text-decoration: none;
  color: var(--title-color);
  padding-top: 6px;
  text-align: center;
  background-color: var(--header-color);
  width: 100%;
  min-height: 48px;
  height: fit-content;
  transition-duration: .2s;
}

.dropdown__option:hover {
  background-color: var(--first-color);
  cursor: pointer;
}

.idea__text {
  position: absolute;
  user-select: text;
  top: 45%;
  left: 50%;
  width: 85%;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  text-overflow: clip;
  color: var(--title-color);
  font-size: 3.5rem;
}

.theme,
.mood,
.genre,
.character,
.goal,
.setting,
.joker {
  font-size: 3.5rem;
  user-select: text;
}

.theme {
  color: var(--theme_color);
}

.mood {
  color: var(--mood-color);
}

.genre {
  color: var(--genre-color);
}

.character {
  color: var(--character-color);
}

.goal {
  color: var(--goal-color);
}

.setting {
  color: var(--setting-color);
}

.joker {
  color: var(--joker-color);
}

button {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 200px);
  width: 400px;
  height: 120px;
  border: none;
  background-color: var(--first-color);
  font-size: 3rem;
  font-weight: bolder;
  box-shadow: 2px 2px 0 var(--text-color-light);
  transition-duration: .5s;
  cursor: pointer;
}

button:hover {
  bottom: calc(10% + 2px);
  left: calc(50% - 202px);
  background-color: var(--text-color-light);
  box-shadow: 8px 8px 2px var(--first-color);
}

button:disabled {
  opacity: 1;
}

/*========== FOOTER ==========*/
footer {
  height: 24px;
  padding: 2px;
  background-color: var(--footer-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__text {
  text-align: center;
  color: var(--text-color);
  padding: 0 4px;
}

.footer__link {
  text-decoration: none;
  color: var(--first-color);
  text-align: center;
  padding: 0 4px;
}

.footer__link:hover {
  color: var(--text-color-light);
}