/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: hsl(196, 73%, 71%);
  --primary-dark-color: hsl(196, 73%, 51%);
  --secondary-color: hsl(20, 73%, 51%);
  --text-color: hsl(207, 4%, 95%);
  --header-color: hsl(207, 4%, 45%);
  --background-color: hsl(207, 4%, 10%);
  --sidebar-color: hsl(207, 4%, 8%);

  /*========== Page Colors ==========*/
  --mood-color: hsl(44, 100%, 72%);
  --mood-color-completed: hsl(44, 100%, 62%);
  --productivity-color: hsl(346, 100%, 81%);
  --productivity-color-completed: hsl(346, 100%, 71%);
  --activities-color: hsl(252, 100%, 81%);
  --activities-color-completed: hsl(252, 100%, 71%);
  --weather-color: hsl(197, 88%, 70%);
  --weather-color-completed: hsl(197, 88%, 60%);
  --health-color: hsl(0, 88%, 65%);
  --health-color-completed: hsl(0, 88%, 55%);
  --hobbies-color: hsl(34, 100%, 65%);
  --hobbies-color-completed: hsl(34, 100%, 55%);
  --achievements-color: hsl(280, 45%, 64%);
  --achievements-color-completed: hsl(280, 45%, 54%);
  --learning-color: hsl(0, 100%, 75%);
  --learning-color-completed: hsl(0, 100%, 65%);
  --relationships-color: hsl(212, 100%, 72%);
  --relationships-color-completed: hsl(212, 100%, 62%);
  --travel-color: hsl(51, 78%, 60%);
  --travel-color-completed: hsl(51, 78%, 50%);
  --money-color: hsl(115, 54%, 70%);
  --money-color-completed: hsl(115, 54%, 60%);
  --social-color: hsl(245, 82%, 80%);
  --social-color-completed: hsl(245, 82%, 70%);

  /*========== Input Buttons ==========*/
  --button-idle-color: rgba(100, 100, 100, 0.7);
  --button-hover-color: rgba(100, 100, 100, 0.9);
  --question-button-idle: rgb(110, 110, 110);
  --negative-question-button: rgb(160, 60, 60);
  --neutral-question-button: rgb(60, 102, 160);
  --positive-question-button: rgb(60, 160, 60);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-overlay: 10;
  --z-loading: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  transition-duration: 0.5s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

p span {
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
}

body {
  background-color: var(--body-color);
}

.fa {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  font-size: var(--h1-font-size);
}

/*========== Sidebar ==========*/
.active i {
  color: var(--primary-color);
}

.active.mood__emotion i {
  color: var(--mood-color);
}

.active.productivity i {
  color: var(--productivity-color);
}

.active.activities i {
  color: var(--activities-color);
}

.active.weather i {
  color: var(--weather-color);
}

.active.health i {
  color: var(--health-color);
}

.active.hobbies i {
  color: var(--hobbies-color);
}

.active.achievements i {
  color: var(--achievements-color);
}

.active.learning i {
  color: var(--learning-color);
}

.active.relationships i {
  color: var(--relationships-color);
}

.active.travel i {
  color: var(--travel-color);
}

.active.money__spent i {
  color: var(--money-color);
}

.active.social__media i {
  color: var(--social-color);
}

.sidebar:hover,
nav.sidebar.expanded {
  width: 250px;
  overflow: hidden;
}

.sidebar {
  background: var(--sidebar-color);
  border-right: 1px solid var(--primary-color);
  position: absolute;
  color: var(--header-color);
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 80px;
  overflow: hidden;
  transition: width 0.2s linear;
  z-index: var(--z-overlay);
}

.sidebar ul {
  margin: 4px 0;
}

.sidebar li {
  position: relative;
  display: block;
  width: 250px;
}

.sidebar li i {
  transition-duration: 0.5s;
}

.sidebar li a {
  position: relative;
  display: table;
  color: var(--header-color);
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s linear;
}

.sidebar .sidebar__icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.sidebar .sidebar__text {
  position: relative;
  padding-left: 8px;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  font-family: "Titillium Web", sans-serif;
}

.sidebar ul.main__menu {
  position: absolute;
  left: 0;
  bottom: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

li:hover a {
  color: var(--text-color);
  background-color: rgba(100, 100, 100, 0.7);
}

li:hover i {
  transform: translateX(8px);
}

.mood__emotion:hover i {
  color: var(--mood-color);
}

.productivity:hover i {
  color: var(--productivity-color);
}

.activities:hover i {
  color: var(--activities-color);
}

.weather:hover i {
  color: var(--weather-color);
}

.health:hover i {
  color: var(--health-color);
}

.hobbies:hover i {
  color: var(--hobbies-color);
}

.achievements:hover i {
  color: var(--achievements-color);
}

.learning:hover i {
  color: var(--learning-color);
}

.relationships:hover i {
  color: var(--relationships-color);
}

.travel:hover i {
  color: var(--travel-color);
}

.money__spent:hover i {
  color: var(--money-color);
}

.social__media:hover i {
  color: var(--social-color);
}

/*========== Main Menu Area ==========*/
.area {
  display: block;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

/*========== Main Menu Header ==========*/
.area header {
  position: absolute;
  display: grid;
  top: 0;
  width: 100vw;
  height: 68px;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-color);
}

#header-text {
  padding-top: 16px;
  padding-left: 100px;
  transition-duration: 0.5s;
}

#date-text {
  position: absolute;
  top: 18px;
  left: 265px;
}

.submit__button {
  position: absolute;
  top: 5px;
  right: 20px;
  height: 85%;
  width: 600px;
  font-size: 3rem;
  border: none;
  border-radius: 36px;
  overflow: hidden;
  transition-duration: 2s;
  background-color: var(--button-idle-color);
}

.submit__button:hover {
  background-color: var(--button-hover-color);
}

.submit__button.ready {
  width: 200px;
}

.submit__button.ready:hover p {
  transform: translateX(10px);
}

.submit__button.ready.submitted:hover p {
  transform: translateX(0px);
}

.submit__button .submit__fill {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--negative-question-button);
}

.submit__button.ready .submit__fill {
  background-color: var(--neutral-question-button);
}

.submit__button.ready:hover .submit__fill {
  background-color: var(--positive-question-button);
}

.submit__text {
  position: relative;
  text-wrap: nowrap;
  font-size: 3rem;
  color: white;
  top: -55px;
}

/*========== Input Buttons ==========*/
.input__buttons {
  position: absolute;
  top: 70px;
  left: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.input__button {
  display: flex;
  margin: 16px 4px;
  width: 420px;
  height: 250px;
  background: var(--button-idle-color);
  border-radius: 16px;
  box-shadow: 0 0 4px hsla(0, 0%, 50%, 0.2);
  transition-duration: 0.5s;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.input__button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 0 16px hsla(0, 0%, 50%, 0.5);
}

.input__button:hover i {
  transform: translateX(-10px);
}

.input__button#mood-input:hover i {
  color: var(--mood-color);
}

.input__button#productivity-input:hover i {
  color: var(--productivity-color);
}

.input__button#activities-input:hover i {
  color: var(--activities-color);
}

.input__button#weather-input:hover i {
  color: var(--weather-color);
}

.input__button#health-input:hover i {
  color: var(--health-color);
}

.input__button#hobbies-input:hover i {
  color: var(--hobbies-color);
}

.input__button#achievements-input:hover i {
  color: var(--achievements-color);
}

.input__button#learning-input:hover i {
  color: var(--learning-color);
}

.input__button#relationships-input:hover i {
  color: var(--relationships-color);
}

.input__button#travel-input:hover i {
  color: var(--travel-color);
}

.input__button#money-input:hover i {
  color: var(--money-color);
}

.input__button#social-input:hover i {
  color: var(--social-color);
}

.input__button.completed#mood-input:hover i,
.input__button.completed#productivity-input:hover i,
.input__button.completed#activities-input:hover i,
.input__button.completed#weather-input:hover i,
.input__button.completed#health-input:hover i,
.input__button.completed#hobbies-input:hover i,
.input__button.completed#achievements-input:hover i,
.input__button.completed#learning-input:hover i,
.input__button.completed#relationships-input:hover i,
.input__button.completed#travel-input:hover i,
.input__button.completed#money-input:hover i,
.input__button.completed#social-input:hover i {
  color: white;
}

.button__icon {
  font-size: 4rem;
  width: 80px;
  height: 80px;
  top: 40px;
  margin-bottom: 20px;
  color: white;
}

.reset__icon {
  font-size: 3rem;
  width: 60px;
  height: 60px;
  top: 30px;
  margin-bottom: 20px;
  color: white;
}

.button__text {
  font-size: 2.5rem;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
}

.question__containers {
  display: grid;
  width: 90%;
  height: 50%;
}

.question__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.question__text {
  position: relative;
  font-size: var(--h3-font-size);
  text-align: end;
  padding-top: 15px;
  padding-right: 10px;
  width: 37%;
  color: black;
}

.question__button {
  font-size: var(--h4-font-size);
  width: 21%;
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  border: none;
  background-color: var(--question-button-idle);
}

.question__button.selected {
  width: 50%;
  border-radius: 48px;
}

.option__l.selected {
  background-color: var(--negative-question-button);
}

.option__l:hover {
  background-color: var(--negative-question-button);
}

.option__m.selected {
  background-color: var(--neutral-question-button);
}

.option__m:hover {
  background-color: var(--neutral-question-button);
}

.option__r.selected {
  background-color: var(--positive-question-button);
}

.option__r:hover {
  background-color: var(--positive-question-button);
}

#mood-input.completed {
  background: var(--mood-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--mood-color);
}

#mood-input.completed:hover {
  box-shadow: 0 0 30px var(--mood-color);
}

#productivity-input.completed {
  background: var(--productivity-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--productivity-color);
}

#productivity-input.completed:hover {
  box-shadow: 0 0 30px var(--productivity-color);
}

#activities-input.completed {
  background: var(--activities-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--activities-color);
}

#activities-input.completed:hover {
  box-shadow: 0 0 30px var(--activities-color);
}

#weather-input.completed {
  background: var(--weather-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--weather-color);
}

#weather-input.completed:hover {
  box-shadow: 0 0 30px var(--weather-color);
}

#health-input.completed {
  background: var(--health-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--health-color);
}

#health-input.completed:hover {
  box-shadow: 0 0 30px var(--health-color);
}

#hobbies-input.completed:hover {
  box-shadow: 0 0 30px var(--hobbies-color);
}

#hobbies-input.completed {
  background: var(--hobbies-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--hobbies-color);
}

#achievements-input.completed {
  background: var(--achievements-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--achievements-color);
}

#achievements-input.completed:hover {
  box-shadow: 0 0 30px var(--achievements-color);
}

#learning-input.completed {
  background: var(--learning-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--learning-color);
}

#learning-input.completed:hover {
  box-shadow: 0 0 30px var(--learning-color);
}

#relationships-input.completed {
  background: var(--relationships-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--relationships-color);
}

#relationships-input.completed:hover {
  box-shadow: 0 0 30px var(--relationships-color);
}

#travel-input.completed {
  background: var(--travel-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--travel-color);
}

#travel-input.completed:hover {
  box-shadow: 0 0 30px var(--travel-color);
}

#money-input.completed {
  background: var(--money-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--money-color);
}

#money-input.completed:hover {
  box-shadow: 0 0 30px var(--money-color);
}

#social-input.completed {
  background: var(--social-color-completed);
  border-radius: 64px;
  box-shadow: 0 0 10px var(--social-color);
}

#social-input.completed:hover {
  box-shadow: 0 0 30px var(--social-color);
}

.input__button.completed:hover i {
  transform: translateX(0);
}

.input__button.completed .question__button {
  overflow: hidden;
  width: 0px;
  padding: 0px;
}

.input__button.completed .question__button.selected {
  width: 63%;
  padding: 5px;
}

.question__button:disabled {
  color: black;
}

/*========== Content Page ==========*/

/*========== Content Page Variables ==========*/
:root {
  /*========== Content Page Colors ==========*/
  --loading-color: rgba(150, 150, 150, 0.5);
  --loading-text-color: rgba(250, 250, 250, 0.65);
  --graphics-background: rgb(70, 70, 70);
  --graphic-block-background: rgb(80, 80, 80);
  --header-block-background: rgb(100, 100, 100);
  --header-block-background: rgb(100, 100, 100);
  --header-icon-color: rgb(220, 220, 220);
  --description-color: hsl(207, 4%, 85%);
  --graphic-background-color: rgb(120, 120, 120);
  --footer-button-idle-color: rgb(110, 110, 110);
  --share-button-hover-color: rgb(55, 173, 221);
  --download-button-hover-color: rgb(102, 204, 102);
}

.category__area {
  display: block;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

.loading {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  z-index: var(--z-loading);
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
  background-color: var(--loading-color);
}

.loading h1 {
  display: block;
  color: var(--loading-text-color);
  font-size: 8rem;
  text-align: center;
  padding-top: 0;
}

.loading.show {
  visibility: visible;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.loading.show h1 {
  padding-top: 18%;
}

.graphics {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 80px;
  right: 0px;
  background-color: var(--graphics-background);
}

.graphic__block {
  width: 32%;
  height: 97%;
  border-radius: 16px;
  background-color: var(--graphic-block-background);
}

.header__block {
  position: relative;
  top: 0px;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  background-color: var(--header-block-background);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header__icon {
  top: 6px;
  font-size: 3rem;
  color: var(--header-icon-color);
}

.header {
  color: var(--text-color);
  padding: 0 20px 0 5px;
  font-size: 3rem;
}

.description {
  color: var(--description-color);
  padding: 5px 0 0 0;
  font-size: var(--h1-font-size);
}

.graphic {
  position: relative;
  left: 1%;
  top: 1%;
  width: 98%;
  height: 83%;
  background-color: var(--graphic-background-color);
}

.footer__block {
  position: relative;
  top: 16px;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  background-color: var(--footer-block-background);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  padding: 16px 16px 0 16px;
  margin: 0 1% 0 1%;
  border-radius: 16px;
  background-color: var(--footer-button-idle-color);
  border: none;
}

.footer__button h2 {
  padding-right: 30px;
}

.share__button {
  width: 48%;
}

.share__button:hover {
  background-color: var(--share-button-hover-color);
}

.share__button:hover i {
  transform: translateX(-10px);
}

.download__button {
  width: 48%;
}

.download__button:hover {
  background-color: var(--download-button-hover-color);
}

.download__button:hover i {
  transform: translateX(-10px);
}

.canvas {
  width: 100%;
  height: 100%;
}
